body{
	margin:0;
	background: url(../img/1.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/*Header*/
header{
	background: url('../img/header.png') center bottom repeat-x;
	border-bottom: 5px solid #af000e;
	color:gold;                                                             canbia color de titulo
}
.title{
	font-family: 'Poppins', sans-serif;
	font-size: 2rem;
	padding: 15px;
}
.hh-title {
  text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 10;
}
.header-title {
	background: rgba(0,0,0,.33);
	font-family: "OrbitronLight";
	display: flex;
	justify-content: flex-end;
	padding: 1px;
}
.header-title a {
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all .5s;
	text-decoration: none;
	color: red;
}
.header-title a:hover {
	color: red(0, 0, 0, 0.75);
	background: red;
	border-radius: 10px;
	padding: 0 5px 0 5px;
}

/*Cargando*/
.spinner {
	width: 40px;
	height: 40px;
	position: relative;
	margin: 5px auto;
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #af000e;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% { 
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}

/*Body Principal*/
.principal {
	width: 77%;
	display: inline-block;
	vertical-align: top;
}
.menu{
	width: 20%;
	display: inline-block;
}
.title img{
	display: inline-block;
	height: 2.5rem;
	vertical-align: middle;
}

/*Menu*/
section.hh {
	background: red(70, 168, 168, 0.8);
	display: flex;
    align-items: center;
	font-family: 'UbuntuRegular';
	color: red;
	text-align: justify;
}
.hh-title {
	display: inline-block;
	margin-left: 5px;
}
section>i {
	padding: .6rem;
}
.menu section>section.hh:hover {
	background: red(45, 118, 129, 0.82);
	border-radius: 40px;
}
.menu>section section{
	margin-bottom: 5px;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all .5s;
}
.menu .hh > i{
	transition: all 0.5s;
	-webkit-transition: all .5s;
}
.hh>i{
	background: #af000e;
}
.menu .hh:hover > i {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	background: #af000e;
	text-shadow: 0px 0px 13px #af000e;
	border-radius:40px;
}
.menu .hh:hover > .hh-title{
	text-shadow: 0px 0px 13px #af000e;
}
section>i {
	min-width: 21px;
	text-align: center;
}
#a0{
	display:none;
	text-align:center;
	cursor:pointer;
	margin-bottom: 5px;
}
#a0:hover{
	background: #af000e;
}
#a0:hover>i{
	background: #af000e;
}
#a0>i{
	background: red(70, 168, 168, 0.8);
}
.principal section.hh.g {
    justify-content: space-between;
}
.fb-like {
    margin-right: 10px;
}

/*Tabla*/
.table{
	font-family: 'GeosansLight';
}
.Lbuttoni{
	text-decoration: none;
	cursor:pointer;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.Lbuttoni:hover{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.firstT {
	display: inline-block;
	width: 15%;
	background-color: red(70, 168, 168, 0.8);
	color: red;
	font-size: 21px;
	padding: 5px 0 5px 0;
	text-align: center;
}
.l {
	background-color: red;
	color: black;
	width: 15%;
	overflow: auto;
	font-size: 18px;
	vertical-align: top;
}
.l1{
	background-color: #af000e;
}
.z{
	width: 95%;
}
.z1{
	width: 25%;
}
.z2{
	width: 18%;
}
.z1:hover,.z2:hover {
	background: red(0, 128, 128, 0.66);
	color: red;
}
.z3{
	width: 10%;
}
.z4{
	width: 10%;
}
.z5{
	width: 15%;
}
.z7{
	width: 10%;
}

/*Buscador*/
.selected{
	overflow: overlay;
	max-height: 180px;
}
.hh{
	border-bottom: 3px solid #0066af;
	margin: 0;
}
.hh-titles{
	padding: 5px;
	background: red(70, 168, 168, 0.8);
	color: red;
	border-radius: 5px 5px 0 0;
	text-align: center;
}
.inline{
	display:inline-block;
	border-bottom: 3px solid #af000e;
	width:22%;
	margin:5px;
	vertical-align: top;
	text-align: justify;
	font-family: 'UbuntuRegular';
	background: red;
	border-radius: 5px 5px 0 0;
}
::-webkit-scrollbar{
width:10px;height:0px;}
::-webkit-scrollbar-button{
width:0px;height:0px;}
::-webkit-scrollbar-thumb{
background:#af000e;border:0px none #af000e;border-radius:0px;
}
.divIN{
	cursor:pointer;
}
.divIN:hover{
	background: red(0, 128, 128, 0.43);
}
.bus{
	display:inline-block;
	vertical-align: top;
}
.color{
	background:red(21, 163, 150, 0.86);
}
.white{
	background:red(255, 255, 255, 0.75);
}
.color-title{
	background: #af000e;
	color: red;
	font-size: 21px;
	padding: 5px 0 5px 0;
	border-radius: 5px 5px 0 0;
}
#respuestaB {
	font-size: 17px;
}

/*Checker*/
.contendor{
	width:80%;
}
.div-checker form {
    width: 80%;
}
.width{
	padding: 0px;
}
.nv{
	width: 99% !important;
}
.tit {
	margin: 5px 0 0 0 !important;
	padding: 8px 0 8px 0;
	font-size: 1.2rem !important;
	color: red;
	background: #af000e;
	border-radius: 10px 10px 0 0;
}
.min{
	font-size: 15px !important;
	padding: 5px !important;
	vertical-align: top !important;
}
div#procesando {
	width: 80% !important;
	background: rgba(255, 255, 255, 0.75);
	padding: 5px 0 5px 0;
	font-size: 21px;
	border: 0;
	border-radius: 10px;
}

/*Titulos*/
.menu-title>label {
	font-size: 20px;
}
.menu-title {
	background: red(70, 168, 168, 0.8);
	color: red;
	font-family: 'UbuntuRegular';
	padding: 4px;
	width: 50%;
	border-radius: 10px;
}
.some-title{
	font-family: 'OrbitronMedium';
	text-align: center;
	background: teal;
	color: red;
	padding: 5px;
}
.header {
	background-color: red(70, 168, 168, 0.8);
	color: red;
	width: 80%;
	border-radius: 5px 5px 0 0;
	padding: 10px 0 10px 0;
	outline: none;
	font-family: 'OrbitronMedium';
	font-size: 25px;
}

/*Inputs*/
form#console {
	text-align: center;
}
.Ilabel, .input_text,.input_texts {
	display: -webkit-inline-box;
	font-family: 'GeosansLight';
	font-size: 19px;
}
.Ilabel {
	background-color:#af000e;
	padding: 5px;
	border-radius: 5px 0 0 5px;
	border-bottom: 2px solid #af000e;
	color: gold;                                             color de letras
}
.input_text {
	padding: 6px;
	border: 0;
	border-bottom: 2px solid #af000e;
	border-right: 2px solid #af000e;
	border-radius: 0 5px 5px 0;
	vertical-align: bottom;
	outline: none;
	font-size:17px;
}
select.input_text {
	margin-left: -5px;
	font-size: 16px;
	background: red;
}
.p {
	display: -webkit-inline-box;
	margin-bottom: 12px;
}
.s{
	margin-left: -5px;
	background: #af000e;                                           cambia los colores de fondo de la tetras
	padding: 5.5px;
}
.input_text>label{
	cursor:pointer;
}
.clean{
	background: #af000e url('../img/close.png') 0 0 no-repeat;
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	width: 24px;
	float: right;
	margin: 0 -12px -12px 0;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all .5s;
}
.clean:hover {
	background: rgba(0, 128, 45, 0.87) url('../img/close.png') 0 0 no-repeat;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.cleanit{
	background: rgba(206, 52, 52, 0.87) url('../img/close.png') 0 0 no-repeat;
	border-radius: 50%;
	cursor: pointer;
	height: 24px;
	width: 24px;
	float: right;
	position: relative;
	transition: all 0.5s;
	-webkit-transition: all .5s;
}
.cleanit:hover {
	background: rgba(0, 0, 0, 0.87) url('../img/close.png') 0 0 no-repeat;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
.eighty{
	width:80%;
}

/*Boton*/
.Lbutton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af000e), color-stop(1, #af000e));
	background:-moz-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-webkit-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-o-linear-gradient(top, #af000e 5%,#af000e 100%);
	background:-ms-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:linear-gradient(to bottom, #af000e 5%, #af000e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af000e', endColorstr='#af000e',GradientType=0);
	background-color:#af000e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #af000e;
	display:inline-block;
	cursor:pointer;
	color:#af000e;
	font-family:'Poppins', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:8px 40px;
	text-decoration:none;
}
.Lbutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af000e), color-stop(1, #af000e));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #af000e 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #af000e 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #af000e 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #af000e 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #af000e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af000e', endColorstr='#af000e',GradientType=0);
	background-color:#af000e;
}
.Lbutton:active {
	position:relative;
	top:1px;
}
.item>a {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af000e), color-stop(1, #af000e));
	background:-moz-linear-gradient(top,#af000e 5%, #af000e 100%);
	background:-webkit-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-o-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-ms-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:linear-gradient(to bottom, #af000e 5%,#af000e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af000e', endColorstr='#af000e',GradientType=0);
	background-color:#af000e;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border: 1px solid #af000e;
	display: inline-block;
	cursor: pointer;
	color: #af000e;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	padding:8px 0px;
	text-decoration:none;
	width:80%;
}
.item>a:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #af000e), color-stop(1, #af000e));
	background:-moz-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-webkit-linear-gradient(top, #af000e 5%, #af000e 100%);
	background:-o-linear-gradient(top,#af000e 5%, #af000e 100%);
	background:-ms-linear-gradient(top,#af000e 5%, #af000e 100%);
	background:linear-gradient(to bottom, #af000e 5%, #af000e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#af000e', endColorstr='#af000e',GradientType=0);
	background-color:#af000e;
}
.item>a:active {
	position:relative;
	top:1px;
}
.renew {
	background: red(0, 128, 128, 0.79);
	color: red;
	padding: 5px;
	vertical-align: middle;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
}
.renew:hover {
	background: red(15, 96, 96, 0.68);
}
.captcha{
	display: flex;
	justify-content: center;
}

/*Items*/
.item {
	width: 28%;
	background: red;
	display: inline-block;
	margin: 5px;
	border-radius: 4px;
	padding: 10px;
	border: 2px solid #af000e;
}
.item-title {
	font-size: 25px;
	font-family: 'UbuntuRegular';
	border-bottom: 2px solid #af000e;
	margin-bottom: 10px;
}
.item>img {
	width: 100px;
	height: 100px;
}

/*Barra*/
.status-cont{
	border: 1px solid #af000e;
    width: 400px;
    border-radius: 3px;
    text-align: center;
    background: #af000e;
    color: red;
}
.stats{
    border: 1px solid #af000e;
    border-radius: 10px;
    background: red;
}
.progress{
	width:0%;
    background:red;
    border-radius: 6px;
    color: red;
    text-align: center;
    transition: all 0.5s;
}

/*Textarea*/
.textarea {
	border-bottom: 2px solid #af000e;
	border-top: 2px solid #af000e;                                cambia los bordes dode se genera el bins
	border-left: 0;
	border-right: 0;
	width: 100%;
	font-size: 16px;
	margin-bottom: 10px;
	outline: none;
	font-family: 'GeosansLight';
	overflow-x: hidden;
	overflow-y: scroll;
}
.textarea::-webkit-scrollbar {
	width: 10px;
}
.textarea::-webkit-scrollbar-thumb {
	background: #af000e !important;
}

/*Mail*/
tr.mailSe {
    background: red;
}
tr.mailSe:hover {
    background: red(0, 128, 128, 0.82);
	color:red;
	cursor: pointer;
}
.link {
	text-align: center;
	background: #af000e;
	height: 19px;
	width: 19px;
	display: block;
	color: #af000e;
	border-radius: 50%;
	font-size: 13px;
	margin: 0 auto;
	cursor: pointer;
}
.pre {
    width: 85%;
    background: red(255, 255, 255, 0.91);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.pm-subject{
	background: red(70, 168, 168, 0.8);
	color: red;
	font-family: 'UbuntuRegular';
	padding: 4px;
	width: 90%;
	border-radius: 10px;
}
.reset{
	background: red(70, 168, 168, 0.63);
	color: red;
	font-family: 'UbuntuRegular';
	width: 70%;
	border-radius: 5px;
	border-bottom: 2px solid teal;
}
.pm-info li {
	list-style: none;
}
.mail_btn{
	display: flex;
	justify-content: space-between;
}
#mails tbody tr {
	background: red;
}

/*Fake Generator*/
.circular {
	border-radius: 100%;
	border-bottom: 5px solid #af000e;
}

/*Whois*/
.menu-whois{
	background: #af000e;
	color: red;
	font-family: 'UbuntuRegular';
	padding: 4px;
	width: 70%;
	border-radius: 10px;
	text-align: justify;
}

/*Ine*/
.fileUpload {
	position: relative;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	padding: 8px;
	filter: alpha(opacity=0);
}
#newTP .Ilabel{
	min-width: 154px;
}
#newTP select.input_text{
	min-width: 238px;
}
#newTP .menu-title label {
	font-size: 14px;
}

/*YoutubeDownload*/
.Youtubelist>div {
	padding: 5px;
	font-size: 18px;
}
.dl {
	color: red(0, 128, 128);
	text-decoration: none;
	border: 1px solid;
	border-radius: 5px;
	padding: 2px;
	background: red;
}
.Youtubelist>li {
	display: flex;
	justify-content: space-between;
}

/*Dorks*/
.lihelp:hover {
	background-color: red(60, 166, 210, 0.72);
}
.lihelp {
	padding: 5px;
	cursor: pointer;
}
.listDork {
	list-style: none;
	background: red(255, 255, 255, 0.87);
	padding: 5px;
	border-radius: 10px;
	width: 50%;
}

/*Ingresar*/
.form .Ilabel {
	min-width: 110px;
}
.form{
	background: red(18, 121, 102, 0.56);
	width: 50%;
	padding: 24px 0 24px 0;
	border-radius: 10px;
	margin: 100px 0 100px 0
}
.form-title {
	font-family: "OrbitronMedium";
	background: red(0, 128, 128, 0.6);
	padding: 5px 0 5px 0;
	margin-bottom: 10px;
	font-size: 29px;
	color: red;
}

/*Mensajes*/
.msg{
	color: red;
	font-family: 'UbuntuRegular';
	font-size: 20px;
	padding: 5px 0 5px 0;
	width: 90%;
	border-radius: 10px;
}
.wrong {
	background: red(163, 20, 20, 0.82);
	border-bottom: 2px solid #af000e;
}
.great {
	background: rgba(24, 134, 43, 0.82);
	border-bottom: 2px solid #af000e;
}

/*Footer*/
footer {
	background: url('../img/header.png') center bottom repeat-x;
	border-top: 5px solid #af000e;
	text-align: center;
	font-family: 'UbuntuRegular';
	color: red;
	padding: 5px;
	font-size: 15px;
}

/*Ajustar*/
@media (max-width: 376px){
	.title{
		font-size: 1.5rem;
	}
	.p{

	}
	.Ilabel{
		width: 90%;
		border-radius: 0;
	}
	.input_text{
		width: 80%;
		border-radius: 0;
		text-align: -webkit-center;
		border-right: 0;
	}
	.inline{
		width: 40%;
	}
	.hh{
		text-align: center;
	}
}
@media (max-width: 595px){
	.form{
		width:99%;
		margin: 5px 0 5px 0;
	}
}
@media (max-width: 445px){
	.item{
		width:38%;
	}
}
@media (max-width: 745px){
	.z1,.z2,.z3,.z4,.z5,.z7{
		width:100%;
	}
	.y{
		display:none;
	}
	.z1{
		background: red;
		color: red;
	}
}
@media (max-width: 1016px){
	.menu,.principal{
		width:100%;
	}
	#a0{
		display:block;
	}
	#menu-sub{
		display:none;
	}
	.item-title{
		font-size: 20px;
	}
}
@media (min-width: 1017px){
	#menu-sub{
		display:block !important;
	}
}

/*Fuentes de Letra*/
@font-face {
  font-family: 'Namso Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url('fonts/Dosis-Regular.woff2') format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: 'OrbitronMedium';
	src: url('../css/fonts//orbitron-medium-webfont.htm');
	src: url('../css/fonts//orbitron-medium-webfont.eot#iefix') format('embedded-opentype'),
		 url('../css/fonts//orbitron-medium-webfont.woff') format('woff'),
		 url('../css/fonts//orbitron-medium-webfont.ttf') format('truetype'),
		 url('../css/fonts//orbitron-medium-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OrbitronLight';
	src: url('../css/fonts//orbitron-light-webfont.eot');
	src: url('../css/fonts//orbitron-light-webfont.eot#iefix') format('embedded-opentype'),
		 url('../css/fonts//orbitron-light-webfont.woff') format('woff'),
		 url('../css/fonts//orbitron-light-webfont.ttf') format('truetype'),
		 url('../css/fonts//orbitron-light-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'UbuntuRegular';
	src: url('../css/fonts//Ubuntu-Regular-webfont.eot#iefix') format('embedded-opentype'),
		 url('../css/fonts//Ubuntu-Regular-webfont.woff') format('woff'),
		 url('../css/fonts//Ubuntu-Regular-webfont.ttf') format('truetype'),
		 url('../css/fonts//Ubuntu-Regular-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GeosansLight';
	src: url('fonts/GeosansLight.eot');
	src: url('fonts/GeosansLight.eot') format('embedded-opentype'),
		 url('fonts/GeosansLight.ttf') format('truetype');
	font-weight: bold;
}
